@media screen {
  * {
    position: var(--position);
    display: var(--display);
    margin: var(--m);
    margin-top: var(--mt);
    margin-bottom: var(--mb);
    margin-right: var(--mr);
    margin-left: var(--ml);
    padding: var(--p);
    padding-top: var(--mt);
    padding-bottom: var(--mb);
    padding-right: var(--mr);
    padding-left: var(--ml);
    border-width: var(--border);
    border-top-width: var(--border-t);
    border-left-width: var(--border-l);
    border-right-width: var(--border-r);
    border-bottom-width: var(--border-b);
  }
}
@media screen and (max-width: 600px) {
  * {
    position: var(--s-position);
    display: var(--s-display);
    margin: var(--s-m);
    margin-top: var(--s-mt);
    margin-bottom: var(--s-mb);
    margin-right: var(--s-mr);
    margin-left: var(--s-ml);
    padding: var(--s-p);
    padding-top: var(--s-mt);
    padding-bottom: var(--s-mb);
    padding-right: var(--s-mr);
    padding-left: var(--s-ml);
    border-width: var(--s-border);
    border-top-width: var(--s-border-t);
    border-left-width: var(--s-border-l);
    border-right-width: var(--s-border-r);
    border-bottom-width: var(--s-border-b);
  }
}
@media screen and (min-width: 601px) {
  * {
    position: var(--sm-position);
    display: var(--sm-display);
    margin: var(--sm-m);
    margin-top: var(--sm-mt);
    margin-bottom: var(--sm-mb);
    margin-right: var(--sm-mr);
    margin-left: var(--sm-ml);
    padding: var(--sm-p);
    padding-top: var(--sm-mt);
    padding-bottom: var(--sm-mb);
    padding-right: var(--sm-mr);
    padding-left: var(--sm-ml);
    border-width: var(--sm-border);
    border-top-width: var(--sm-border-t);
    border-left-width: var(--sm-border-l);
    border-right-width: var(--sm-border-r);
    border-bottom-width: var(--sm-border-b);
  }
}
@media screen and (min-width: 801px) {
  * {
    position: var(--m-position);
    display: var(--m-display);
    margin: var(--m-m);
    margin-top: var(--m-mt);
    margin-bottom: var(--m-mb);
    margin-right: var(--m-mr);
    margin-left: var(--m-ml);
    padding: var(--m-p);
    padding-top: var(--m-mt);
    padding-bottom: var(--m-mb);
    padding-right: var(--m-mr);
    padding-left: var(--m-ml);
    border-width: var(--m-border);
    border-top-width: var(--m-border-t);
    border-left-width: var(--m-border-l);
    border-right-width: var(--m-border-r);
    border-bottom-width: var(--m-border-b);
  }
}
@media screen and (min-width: 1201px) {
  * {
    position: var(--ml-position);
    display: var(--ml-display);
    margin: var(--ml-m);
    margin-top: var(--ml-mt);
    margin-bottom: var(--ml-mb);
    margin-right: var(--ml-mr);
    margin-left: var(--ml-ml);
    padding: var(--ml-p);
    padding-top: var(--ml-mt);
    padding-bottom: var(--ml-mb);
    padding-right: var(--ml-mr);
    padding-left: var(--ml-ml);
    border-width: var(--ml-border);
    border-top-width: var(--ml-border-t);
    border-left-width: var(--ml-border-l);
    border-right-width: var(--ml-border-r);
    border-bottom-width: var(--ml-border-b);
  }
}
@media screen and (min-width: 1401px) {
  * {
    position: var(--l-position);
    display: var(--l-display);
    margin: var(--l-m);
    margin-top: var(--l-mt);
    margin-bottom: var(--l-mb);
    margin-right: var(--l-mr);
    margin-left: var(--l-ml);
    padding: var(--l-p);
    padding-top: var(--l-mt);
    padding-bottom: var(--l-mb);
    padding-right: var(--l-mr);
    padding-left: var(--l-ml);
    border-width: var(--l-border);
    border-top-width: var(--l-border-t);
    border-left-width: var(--l-border-l);
    border-right-width: var(--l-border-r);
    border-bottom-width: var(--l-border-b);
  }
}
:root {
  --z-index: 1;
  --font-size: ;
  --font-weight: ;
  --w: ;
  --h: ;
  --xs-d: ;
  --xs-position: ;
  --xs-mt: ;
  --xs-mb: ;
  --xs-mr: ;
  --xs-ml: ;
  --xs-mx: ;
  --xs-my: ;
  --xs-pt: ;
  --xs-pb: ;
  --xs-pr: ;
  --xs-pl: ;
  --xs-px: ;
  --xs-py: ;
  --xs-border-t: ;
  --xs-border-b: ;
  --xs-border-r: ;
  --xs-border-l: ;
  --xs-border-x: ;
  --xs-border-y: ;
  --s-d: ;
  --s-position: ;
  --s-mt: ;
  --s-mb: ;
  --s-mr: ;
  --s-ml: ;
  --s-mx: ;
  --s-my: ;
  --s-pt: ;
  --s-pb: ;
  --s-pr: ;
  --s-pl: ;
  --s-px: ;
  --s-py: ;
  --s-border-t: ;
  --s-border-b: ;
  --s-border-r: ;
  --s-border-l: ;
  --s-border-x: ;
  --s-border-y: ;
  --sm-d: ;
  --sm-position: ;
  --sm-mt: ;
  --sm-mb: ;
  --sm-mr: ;
  --sm-ml: ;
  --sm-mx: ;
  --sm-my: ;
  --sm-pt: ;
  --sm-pb: ;
  --sm-pr: ;
  --sm-pl: ;
  --sm-px: ;
  --sm-py: ;
  --sm-border-t: ;
  --sm-border-b: ;
  --sm-border-r: ;
  --sm-border-l: ;
  --sm-border-x: ;
  --sm-border-y: ;
  --m-d: ;
  --m-position: ;
  --m-mt: ;
  --m-mb: ;
  --m-mr: ;
  --m-ml: ;
  --m-mx: ;
  --m-my: ;
  --m-pt: ;
  --m-pb: ;
  --m-pr: ;
  --m-pl: ;
  --m-px: ;
  --m-py: ;
  --m-border-t: ;
  --m-border-b: ;
  --m-border-r: ;
  --m-border-l: ;
  --m-border-x: ;
  --m-border-y: ;
  --ml-d: ;
  --ml-position: ;
  --ml-mt: ;
  --ml-mb: ;
  --ml-mr: ;
  --ml-ml: ;
  --ml-mx: ;
  --ml-my: ;
  --ml-pt: ;
  --ml-pb: ;
  --ml-pr: ;
  --ml-pl: ;
  --ml-px: ;
  --ml-py: ;
  --ml-border-t: ;
  --ml-border-b: ;
  --ml-border-r: ;
  --ml-border-l: ;
  --ml-border-x: ;
  --ml-border-y: ;
  --l-d: ;
  --l-position: ;
  --l-mt: ;
  --l-mb: ;
  --l-mr: ;
  --l-ml: ;
  --l-mx: ;
  --l-my: ;
  --l-pt: ;
  --l-pb: ;
  --l-pr: ;
  --l-pl: ;
  --l-px: ;
  --l-py: ;
  --l-border-t: ;
  --l-border-b: ;
  --l-border-r: ;
  --l-border-l: ;
  --l-border-x: ;
  --l-border-y: ;
  --lx-d: ;
  --lx-position: ;
  --lx-mt: ;
  --lx-mb: ;
  --lx-mr: ;
  --lx-ml: ;
  --lx-mx: ;
  --lx-my: ;
  --lx-pt: ;
  --lx-pb: ;
  --lx-pr: ;
  --lx-pl: ;
  --lx-px: ;
  --lx-py: ;
  --lx-border-t: ;
  --lx-border-b: ;
  --lx-border-r: ;
  --lx-border-l: ;
  --lx-border-x: ;
  --lx-border-y: ;
  --d: ;
  --position: ;
  --mt: ;
  --mb: ;
  --mr: ;
  --ml: ;
  --mx: ;
  --my: ;
  --pt: ;
  --pb: ;
  --pr: ;
  --pl: ;
  --px: ;
  --py: ;
  --border-t: ;
  --border-b: ;
  --border-r: ;
  --border-l: ;
  --border-x: ;
  --border-y: ;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  width: var(--w);
  height: var(--h);
  line-height: 100%;
  z-index: var(--z-index);
} /*# sourceMappingURL=var.css.map */
